.Person{
    border: 1px solid rgb(192, 181, 181);
    margin: 16px auto;
    padding: 16px;
    width: 60%;
    box-shadow: 0 1px 3px;
    text-align: center;
}

@media screen and (min-width:600px) {
    .Person{
        width: 360px;
    }
    
}

